ASR_HOST=127.0.0.1
ASR_PORT=8001
ASR_CORS_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

MU_MODEL_PATH=model_artifacts/mu
MU_DEVICE=auto
MU_COMPUTE_TYPE=int8_float16
MU_LANGUAGE=en
MU_ALLOW_DOWNLOAD=false
