ASR_HOST=127.0.0.1
ASR_PORT=8001
ASR_SERVICE_TOKEN=
ASR_MAX_HTTP_REQUEST_BYTES=27262976
ASR_INFERENCE_CONCURRENCY=1
ASR_QUEUE_MAX_WAITING=8
ASR_QUEUE_WAIT_TIMEOUT_SECONDS=90
ASR_QUEUE_RETRY_AFTER_SECONDS=2
READIRECT_GPU_COORDINATION_ENABLED=true
READIRECT_GPU_RESOURCE_KEY=cuda-default
READIRECT_GPU_PERMIT_TIMEOUT_SECONDS=150

MU_MODEL_PATH=model_artifacts/mu
MU_DEVICE=auto
MU_COMPUTE_TYPE=int8_float16
MU_LANGUAGE=en
MU_ALLOW_DOWNLOAD=false
