READIRECT_TTS_STARTUP_WARMUP=1
READIRECT_TTS_DEVICE=auto
TTS_SERVICE_TOKEN=
TTS_MAX_HTTP_REQUEST_BYTES=16384
TTS_QUEUE_MAX_WAITING=4
TTS_QUEUE_WAIT_TIMEOUT_SECONDS=60
TTS_QUEUE_RETRY_AFTER_SECONDS=2
READIRECT_GPU_COORDINATION_ENABLED=true
READIRECT_GPU_RESOURCE_KEY=cuda-default
READIRECT_GPU_PERMIT_TIMEOUT_SECONDS=150
